{# app/Resources/views/Default/Elements/navigation.html.twig #}
<div id="navigation">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <nav class="navbar navbar-inverse navbar-static-top">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('index_locale') }}">Home</a></li>
                    <li><a href="{{ path('projects_locale') }}">Projekte</a></li>
                    <li><a href="{{ path('contact_locale') }}">Kontakt</a></li>
            </nav>
        </div>
    </div>
</div>