{# app/Resources/views/Default/index.html.twig #}
{% extends 'TSHomepageBundle:Default:base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Hier entsteht eine Webpräsenz....</h2>
                <div>
                        <p>Wie man sieht ist diese erst gaaaaaaanz am Anfang :/</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}