{# app/Resources/views/Default/projects.html.twig #}
{% extends 'TSHomepageBundle:Default:base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% trans %}Projekte{% endtrans %}
            </div>
        </div>
    </div>
{% endblock %}